.gameWon{
    -fx-background-color: rgb(150, 197, 250);
    -fx-border-style: solid;
    -fx-border-width: 5px;

}

.gameLost{
    -fx-background-color: rgb(249, 113, 113);
    -fx-border-style: solid;
    -fx-border-width: 5px;
}





