.root{
    -fx-background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Kaisa_0.jpg");
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 1024 576; 
    -fx-background-position: center center;
}


TextField{
    -fx-background-color: -fx-control-inner-background;
    
}

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(60, 19, 193);
    -fx-text-fill: white;
}